// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$maron:#3F1505;
$automn: #DB6B25;
$automn2: #F6762C;
$automn3: #F3DD96;
$white: #FFFCF8;

html{
  background-color: $white;
  width: 100%;
  height: 100%;
}