// Specific CSS for your home-page

html{
  background-color: $white;
}

.home {
  margin: 0 auto;
  background-color: $white;
}

.name{
  position: absolute;
  top: 40%;
  right: 40%;
  text-align: center;
  letter-spacing: 14px;
  margin: 0 auto;
  font-size: 90px;
  font-weight: 900;
  color: $automn2;
}