<div class="nav">
  
    <!---back index restaurants---->
    <%= link_to "Restaurant's", restaurants_path, class: "item"  %>

    <!---your profile---->
    <%= link_to "Profil", profil_path, class: "item"  %>

</div>