<div class="main">
  <div class="banner">

    <%= cl_image_tag @restaurant.photos.first.key, class:"banner-img" %>

    <div class="ban-rest-name">
      <h2><%= @restaurant.full_name %></h2>
      <p><%= @restaurant.speciality %></p>
    </div>
    
  </div>

  <div class="dishes">
    <div class="dish">
      <!----index dishes------>
    </div>
  </div>

  <%= render 'shared/navbar2' %>
</div>
