<div class="main">
  <div class="banner">
    <!----- manque limage----->
    
    <h2><%= @restaurant.full_name %></h2>
    <p><%= @restaurant.speciality %></p>

  </div>

  <div class="dishes">
    <div class="dish">
    
      <!----index dishes------>
    </div>
  </div>
</div>
