<div class="main">
  <div class="banner">
    <!----- manque image----->
    
    <h2><%= @restaurant.full_name %></h2>
    <p><%= @restaurant.speciality %></p>
      <%= @restaurant.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400 %>
      <% end %>
  </div>

  <div class="dishes">
    <div class="dish">
    
      <!----index dishes------>
    </div>
  </div>
</div>
