<div class="main">
  <div class="banner">

    <%= @restaurant.photos.each_with_index do |photo, index| %>
      <%= cl_image_tag photo.key, height: 300, width: 400 %>
    <% end %>

    <h2><%= @restaurant.full_name %></h2>
    <p><%= @restaurant.speciality %></p>
  </div>

  <div class="dishes">
    <div class="dish">
      <!----index dishes------>
    </div>
  </div>
</div>
