.restaurants {
  background-color: $white;
}

.restaurant {
  background-color: $white;
  margin: 0 auto;
  margin-top: 50px;
  width: 30%;
  text-align: center;
  color: $maron;
}

.restaurant-pic {
  border-radius: 6px;
  width: 70%;
}

.restaurant-head {
  color: white;
  text-shadow: 1px 1px 1px $maron;
}

.type{
  position: relative;
  bottom: 3em;
}

a {
  text-decoration: none;
  color: black;
    &:hover{
      text-decoration: none;
      color: black;
    }
}